


@font-face {
  font-family: 'ArmWrestler';
  src: url('../public/game/asset/font/ArmWrestler/ArmWrestler.ttf') format('truetype');
}

* {
  position: relative;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  user-select: none;

  font-family: 'ArmWrestler', monospace;
  font-size: 12px;
  text-wrap: nowrap;
}
html, body {
  overflow:hidden;
}
img, svg {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}

